﻿@model Admin_Interface.Models.ViewModels.SpeciesViews.SpeciesForm

    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title">Ajouter une espèce : Taxonomie</h3>
    </div>

    <div class="modal-body">
        @*@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "dashboardContent" }))*@
        @using (Html.BeginForm())
        {
            //@Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.PublisherId);

            <div id="adsaAddSpecies" class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.LatinName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LatinName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LatinName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KingdomId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.KingdomId, new List<SelectListItem> { new SelectListItem { Text = "indéfini", Value = "1" } }, new { @class = "form-control" })
                    </div>
                </div>

                <div id="branchDropdown" class="form-group">
                    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.BranchId, new List<SelectListItem> { new SelectListItem { Text = "indéfini", Value = "1" } }, new { @class = "form-control" })
                    </div>
                </div>

                <div id="subBranchDropdown" class="form-group">
                    @Html.LabelFor(model => model.SubBranchId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SubBranchId, new List<SelectListItem> { new SelectListItem { Text = "indéfini", Value = "1" } }, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClassId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ClassId, new List<SelectListItem> { new SelectListItem { Text = "indéfini", Value = "1" } }, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OrderId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.OrderId, new List<SelectListItem> { new SelectListItem { Text = "indéfini", Value = "1" } }, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FamilyId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.FamilyId, new List<SelectListItem> { new SelectListItem { Text = "indéfini", Value = "1" } }, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GenderId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.GenderId, new List<SelectListItem> { new SelectListItem { Text = "indéfini", Value = "1" } }, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PeriodBegin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.Begin, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PeriodBegin, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PeriodBegin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.End, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PeriodBegin, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "4", cols = "10" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Annuler</a>
                    <input type="submit" value="Enregistrer" class="btn btn-success" id="btnSave" />
                </div>
            </div>
        }
    </div>

<script>
    $(function () {

       // Storing of SubBranch dropdown to detach and attach to the DOM when necessary
        let subBranchDropDown = $("#subBranchDropdown"); 

        // Kingdom dropdownList --> To Branch 
        // ----------------------------------
        $.get("/DashBoard/GetKingdoms", 
            function (data) {
                $.each(data, function (index, row) {
                    if (row.Name == null) {
                        $("#KingdomId").append("<option value='" + row.Id + "'>" + row.LatinName + "</option>")
                    }
                    else {
                        $("#KingdomId").append("<option value='" + row.Id + "'>" + row.LatinName + ' (' + row.Name + ') ' + "</option>")
                    }                        
            });
        });                    

        // When user choses a kingdom ...
        $("#KingdomId").change(function () {

            $("#BranchId").empty();
            $("#BranchId").append("<option value='" + 1 + "'>Indéfini</option>")

            $("#SubBranchId").empty();
            $("#SubBranchId").append("<option value='" + 1 + "'>Indéfini</option>")

            if ($("#subBranchDropdown").length == 0) {
	            subBranchDropDown.insertAfter($("#branchDropdown"));
            }

            $("#ClassId").empty();
            $("#ClassId").append("<option value='" + 1 + "'>Indéfini</option>")

            $("#OrderId").empty();
            $("#OrderId").append("<option value='" + 1 + "'>Indéfini</option>")

            $("#FamilyId").empty();
            $("#FamilyId").append("<option value='" + 1 + "'>Indéfini</option>")

            $("#GenderId").empty();
            $("#GenderId").append("<option value='" + 1 + "'>Indéfini</option>")

            let Kid = $("#KingdomId").val();

            // ... the branches populates accordingly
            $.get("/DashBoard/GetBranches", { kingdomId: Kid },
                function (data) {                    
                    if (Kid != 1) {
                        $.each(data, function (index, row) {
                            if (row.Name == null) {
                                $("#BranchId").append("<option value='" + row.Id + "'>" + row.LatinName + "</option>")
                            }
                            else {
                                $("#BranchId").append("<option value='" + row.Id + "'>" + row.LatinName + ' (' + row.Name + ') ' + "</option>")
                            }                        
                        });
                    }
            });
        })

        // Branch dropdownList --> To SubBranch or Class
        // ---------------------------------------------
        // When user choses a branch ...
        $("#BranchId").change(function () {

            $("#SubBranchId").empty();
            $("#SubBranchId").append("<option value='" + 1 + "'>Indéfini</option>");

            // if subBranch dropdown is absent, reattachment to the DOM
            if ($("#subBranchDropdown").length == 0) {
	            subBranchDropDown.insertAfter($("#branchDropdown"));
            }

            $("#ClassId").empty();
            $("#ClassId").append("<option value='" + 1 + "'>Indéfini</option>")

            $("#OrderId").empty();
            $("#OrderId").append("<option value='" + 1 + "'>Indéfini</option>")

            $("#FamilyId").empty();
            $("#FamilyId").append("<option value='" + 1 + "'>Indéfini</option>")

            $("#GenderId").empty();
            $("#GenderId").append("<option value='" + 1 + "'>Indéfini</option>")

            // ... we check if subBranches are linked to that branch
            let bid = $("#BranchId").val();
            let URL_getSubBranches = "/DashBoard/GetSubBranches";

                $.ajax({
                    url: URL_getSubBranches,
                    type: "GET",
                    data: { branchId: bid },
                    success: function (data) {  

                        // if there are no subBranches... 
                        if(data.length == 0)
                        {   
                            // ... we detach the subBranch dropdown of the DOM ...
                            $("#subBranchDropdown").detach();

                            $("#ClassId").empty();
                            $("#ClassId").append("<option value='" + 1 + "'>Indéfini</option>")
                            $("#OrderId").empty();
                            $("#OrderId").append("<option value='" + 1 + "'>Indéfini</option>")
                            $("#FamilyId").empty();
                            $("#FamilyId").append("<option value='" + 1 + "'>Indéfini</option>")
                            $("#GenderId").empty();
                            $("#GenderId").append("<option value='" + 1 + "'>Indéfini</option>")

                            let URL_getClasses = "/DashBoard/GetClasses";

                            // ... and get linked classes
                            $.ajax({
                                url: URL_getClasses,
                                type: "GET",
                                data: { branchId: bid },
                                success: function (data) { 
                                    $.each(data, function (index, row) {
                                        if (row.Name == null) {
                                                $("#ClassId").append("<option value='" + row.Id + "'>" + row.LatinName + "</option>")                        }
                                        else {
                                                $("#ClassId").append("<option value='" + row.Id + "'>" + row.LatinName + ' (' + row.Name + ') ' + "</option>")
                                        } 
                                    });
                                }
                            })
                        }
                        // if there are subBranches...
                        else {
                            // ... we attach the subBranch dropdown to the DOM ...
                            subBranchDropDown.insertAfter($("#branchDropdown"));
                            $("#ClassId").empty();
                            $("#ClassId").append("<option value='" + 1 + "'>Indéfini</option>")
                            $("#OrderId").empty();
                            $("#OrderId").append("<option value='" + 1 + "'>Indéfini</option>")
                            $("#FamilyId").empty();
                            $("#FamilyId").append("<option value='" + 1 + "'>Indéfini</option>")
                            $("#GenderId").empty();
                            $("#GenderId").append("<option value='" + 1 + "'>Indéfini</option>")
                            $.each(data, function (index, row) {
                                $("#SubBranchId").append("<option value='" + row.Id + "'>" + row.LatinName + ' (' + row.Name + ') ' + "</option>")
                            });
                        }
                    }
                })
        })

        // SubBranch dropdownList --> To Class
        // -----------------------------------
        // If the SubBranch exists and the user choses a subBranch ...
        $("#SubBranchId").change(function () {
            $("#ClassId").empty();
            $("#ClassId").append("<option value='" + 1 + "'>Indéfini</option>")

            $("#OrderId").empty();
            $("#OrderId").append("<option value='" + 1 + "'>Indéfini</option>")

            $("#FamilyId").empty();
            $("#FamilyId").append("<option value='" + 1 + "'>Indéfini</option>")

            $("#GenderId").empty();
            $("#GenderId").append("<option value='" + 1 + "'>Indéfini</option>")

            let sbid = $("#SubBranchId").val();
            let URL_getClassesBySb = "/Dashboard/GetClassesBySubBranch";

            $.ajax({
                url: URL_getClassesBySb,
                type: "GET",
                data: { subBranchId: sbid },
                success: function (data) {   
                    $.each(data, function (index, row) {
                        if (row.Name == null) {
                                $("#ClassId").append("<option value='" + row.Id + "'>" + row.LatinName + "</option>")                        }
                        else {
                                $("#ClassId").append("<option value='" + row.Id + "'>" + row.LatinName + ' (' + row.Name + ') ' + "</option>")
                        } 
                    });
                }
            })
        })

        // Class dropdownList --> To Order
        // -----------------------------------
        // When the user choses a Class ...
        $("#ClassId").change(function () {

            $("#OrderId").empty();
            $("#OrderId").append("<option value='" + 1 + "'>Indéfini</option>")

            $("#FamilyId").empty();
            $("#FamilyId").append("<option value='" + 1 + "'>Indéfini</option>")

            $("#GenderId").empty();
            $("#GenderId").append("<option value='" + 1 + "'>Indéfini</option>")

           let URL_getOrders = "/Dashboard/GetOrders";

            let cid = $("#ClassId").val();
            $.ajax({
                url: URL_getOrders,
                type: "GET",
                data: { classId: cid },
                success: function (data) {   
                    $.each(data, function (index, row) {
                        if (row.Name == null) {
                                $("#OrderId").append("<option value='" + row.Id + "'>" + row.LatinName + "</option>")                        }
                        else {
                                $("#OrderId").append("<option value='" + row.Id + "'>" + row.LatinName + ' (' + row.Name + ') ' + "</option>")
                        } 
                    });
                }
            })
        })

        // Order dropdownList --> To Family
        // -----------------------------------
        // When the user choses an order ...
        $("#OrderId").change(function () {

            $("#FamilyId").empty();
            $("#FamilyId").append("<option value='" + 1 + "'>Indéfini</option>")

            $("#GenderId").empty();
            $("#GenderId").append("<option value='" + 1 + "'>Indéfini</option>")

           let URL_getFamilies = "/Dashboard/GetFamilies";

            let oid = $("#OrderId").val();
            $.ajax({
                url: URL_getFamilies,
                type: "GET",
                data: { orderId: oid },
                success: function (data) {   
                    $.each(data, function (index, row) {
                        if (row.Name == null) {
                                $("#FamilyId").append("<option value='" + row.Id + "'>" + row.LatinName + "</option>")                        }
                        else {
                                $("#FamilyId").append("<option value='" + row.Id + "'>" + row.LatinName + ' (' + row.Name + ') ' + "</option>")
                        } 
                    });
                }
            })
        })

        // Family dropdownList --> To Gender
        // -----------------------------------
        // When the user choses an Family ...
        $("#FamilyId").change(function () {

            $("#GenderId").empty();
            $("#GenderId").append("<option value='" + 1 + "'>Indéfini</option>")

            let URL_getGenders = "/Dashboard/GetGenders";

            let fid = $("#FamilyId").val();
            $.ajax({
                url: URL_getGenders,
                type: "GET",
                data: { familyId: fid },
                success: function (data) {   
                    $.each(data, function (index, row) {
                        if (row.Name == null) {
                                $("#GenderId").append("<option value='" + row.Id + "'>" + row.LatinName + "</option>")                        }
                        else {
                                $("#GenderId").append("<option value='" + row.Id + "'>" + row.LatinName + ' (' + row.Name + ') ' + "</option>")
                        } 
                    });
                }
            })
        })

});

</script>

