﻿@model Admin_Interface.Models.ViewModels.SpeciesViews.SpeciesAdmin

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Species)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Species)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>

    <dd>
        @Html.Raw(Model.Description)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Period)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Period)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Publisher)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Publisher)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.StatusType)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StatusType)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Kingdom)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Kingdom)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Branch)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Branch)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SubBranch)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SubBranch)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Class)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Class)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Gender)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Gender)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Family)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Family)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Order)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Order)
    </dd>
</dl>