﻿@model IEnumerable<Admin_Interface.Models.Img>

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="saSpeciesImgContainer">
            <img class="saSpeciesImgData" src="@Url.Action("Get", "Img", new { id = item.SpeciesId })" />
            <p>@Html.DisplayFor(modelItem => item.CopyRight)</p>
            @*<a href="#">Supprimer</a>
            <a href="#">Modifier</a>*@
        </div>
    }
}
else
{
    <p>Aucune image n'est disponible pour cette espèce</p>
}

<div class="img">


</div>




