﻿@model Admin_Interface.Models.User

@using Admin_Interface.Tools;


<td>
    @Html.DisplayFor(modelItem => Model.Name)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.LastName)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Email)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Login)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Pwd)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.IsActive)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.RoleType)
</td>
<td>
    @if (Model.Id == UserSession.AuthUser.Id)
    {
        <span>/</span>
    }
    else
    {
        if (Model.Active == true)
        {
            <a class="deactivate" href="@Url.Action("Deactivate","DashBoard", new { Id = Model.Id })">Désactiver</a>
        }
        else
        {
            <a class="activate" href="@Url.Action("Activate","DashBoard", new { Id = Model.Id })">Activer</a>
        }
    }
</td>
@*<td>
    @Html.ActionLink("Modifier", "Modify", new { id = Model.Id })
</td>
<td>
    @Html.ActionLink("Supprimer", "Delete", new { id = Model.Id })
</td>*@

