﻿@using Admin_Interface.Tools;

@model IEnumerable<Admin_Interface.Models.User>


<h3>Gestion des utilisateurs</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pwd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="@string.Format("user_{0}", item.Id )">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pwd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleType)
            </td>
            <td>
                @if (item.Id == UserSession.AuthUser.Id)
                {
                    <span>/</span>
                }
                else
                {
                    if (item.Active == true)
                    {
                        <a class="activate" href="@Url.Action("Deactivate","DashBoard", new { Id = item.Id })">Désactiver</a>
                    }
                    else
                    {
                        <a class="activate" href="@Url.Action("Activate","DashBoard", new { Id = item.Id })">Activer</a>
                    }
                }
                @*if (item.Active == true)
                    {
                        @Ajax.ActionLink(
                        "Désactiver",
                        "Deactivate",
                        new { id = item.Id },
                        new AjaxOptions
                        {
                            UpdateTargetId = string.Format("user_{0}", @Html.DisplayFor(modelItem => item.Id)), // <-- DOM element ID to update
                            InsertionMode = InsertionMode.ReplaceWith, // <-- Replace the content of DOM element
                            HttpMethod = "GET" // <-- HTTP method
                        })
                    }
                    else
                    {
                        @Ajax.ActionLink(
                        "Activer",
                        "Activate",
                        new { id = item.Id },
                        new AjaxOptions
                        {
                            UpdateTargetId = string.Format("user_{0}", @Html.DisplayFor(modelItem => item.Id)), // <-- DOM element ID to update
                            InsertionMode = InsertionMode., // <-- Replace the content of DOM element
                            HttpMethod = "GET" // <-- HTTP method
                        })
                    }*@
            </td>
            <td>
                @Html.ActionLink("Modifier", "Modify", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<script>
    $(function () {
        $("table").on("click", '.activate', function () {
            let url = $(this).attr("href");
            let row = $(this).parents("tr");
            $.ajax({
                url: url,
                dataType: "HTML",
                success: function (data) {
                    row.html(data);
                }
            })
        });
    });
</script>


@Html.ActionLink(
    "Ajouter un utilisateur",
    "CreateUser",
    "DashBoard",
    null,
    new { @class = "btn btn-primary", data_toggle = "modal", data_target = "#saCreateUserModal" }
    )

<div id="saCreateUserModal" class="modal fade hidden-print" tabindex="-1" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

