﻿@model Admin_Interface.Models.ViewModels.SpeciesViews.SpeciesAdmin

@{
    ViewBag.Title = "SpeciesDetails";
}
@{
    Layout = "~/Views/Shared/_LayoutSA.cshtml";
}

<h3 class="toLeft">Page de l'espèce</h3>

<nav class="marginToLeft internNav">
    @Ajax.ActionLink("Taxonomie", "SpeciesTaxonomy", new { id = Model.Id }, new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "saSpeciesDetails",
        //OnComplete = "your_js_function();"
    },
    new { @class ="internNavItem"}
    )


    @Ajax.ActionLink("Images", "SpeciesImages", new { id = Model.Id }, new AjaxOptions
    {
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "saSpeciesDetails",
    //OnComplete = "your_js_function();",
    },
    new { @class ="internNavItem"}
    )
</nav>

<div class="col-2-1 toLeft">
    <div id="saSpeciesDetails">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Species)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Species)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.Raw(Model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Period)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Period)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Publisher)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Publisher)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StatusType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StatusType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Kingdom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kingdom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Branch)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Branch)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubBranch)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubBranch)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Class)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Class)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Family)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Family)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Order)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order)
            </dd>

        </dl>

    </div>
</div>
@Html.ActionLink(
    "Modifier",
    "ModifySpecies",
    "DashBoard",
    new { id = Model.Id },
    new { @class = "btn btn-primary marginToLeft" }
    )



