﻿@model IEnumerable<Admin_Interface.Models.ViewModels.SpeciesViews.SpeciesAdmin>
@{
    ViewBag.Title = "Species";
}

@{
    Layout = "~/Views/Shared/_LayoutSA.cshtml";
}

<h3 class="toLeft">Gestion des espèces</h3>
<div class="col-2-1 toLeft">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kingdom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Species)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kingdom)
                <td>
                    @Html.DisplayFor(modelItem => item.Species)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Period)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Détail", "SpeciesDetails", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
      @Html.ActionLink(
        "Ajouter une espèce",
        "CreateSpecies",
        "DashBoard",
        null,
        new { @class = "btn btn-primary", data_toggle = "modal", data_target = "#saCreateSpeciesModal" }
        )
</div>



@*@Html.ActionLink(
    "Ajouter une espèce",
    "CreateSpecies",
    "DashBoard",
    null,
    new { @class = "btn btn-primary"}
    )*@

<div id="saCreateSpeciesModal" class="modal fade hidden-print" tabindex="-1" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

