﻿
@{
    Layout = "~/Views/Shared/_LayoutSA.cshtml";
}

@using Admin_Interface.Tools;


<div class="col-2-1 toLeft">
    <div class="prem-col">
        <!-- BIENVENUE -->
        <section class="prem-row">
            <h1>Bienvenue @UserSession.AuthUser.Name</h1>
            <div class="searchbar">
                <form action="POST">
                    <button type="submit">
                        <img src="~/Content/Images/search.svg" alt="Icone recherche">
                    </button>
                    <input type="text" name="search" id="search" placeholder="Recherchez une espèce">
                </form>
            </div>
        </section>

        <section class="sec-row">
            <div class="tableau">
                <a href="@Url.Action("Species", "DashBoard")">
                    <h2>Espèces</h2>
                    <p>@ViewBag.SpeciesCount fiches</p>
                    <h3 class="tab-list">- @ViewBag.SpeciesPublished publiées</h3>                    
                    <h3 class="tab-list">- @ViewBag.SpeciesDraft brouillons</h3>
                    <h3 class="tab-list">- @ViewBag.SpeciesToTreat à traiter</h3>
                </a>
            </div>
            <div class="tableau">
                <a href="@Url.Action("Observations", "DashBoard")" @*class="notif-obs*@>
                    <h2>Observations</h2>
                    <p>@ViewBag.ObsCount observations</p>
                    <h3 class="tab-list">- @ViewBag.ObsPublished publiées</h3>
                    <h3 class="tab-list">- @ViewBag.ObsValidated validées</h3>
                    <h3 class="tab-list">- @ViewBag.ObsDraft brouillons</h3>
                    <h3 class="tab-list">- @ViewBag.ObsToTreat à traiter</h3>
                </a>
            </div>
            <div class="tableau">
                <a href="@Url.Action("Users", "DashBoard")" @*class="notif-obs*@>
                    <h2>Utilisateurs</h2>
                    <p>@ViewBag.UCount comptes</p>
                    <h3 class="tab-list">- @ViewBag.USuperAdmin SuperAdmin</h3>
                    <h3 class="tab-list">- @ViewBag.UAdmin Admin</h3>
                    <h3 class="tab-list">- @ViewBag.UAssistant Assistant</h3>
                </a>
            </div>
        </section>

        <section class="tri-row">
            <a href="map.html"></a>
        </section>
    </div>
    <div class="deux-col">
        <!-- METEO -->
        <article class="ma-meteo">
            <h1 id="heure"></h1>
            <div class="today-meteo">
                <h2>Mardi 17 déc.</h2>
                <div>
                    <img src="~/Content/Images/cloud-rain.svg" alt="nuage">
                    <h2>3°C</h2>
                </div>
            </div>
            <ul class="previsions">
                <li>
                    <img src="~/Content/Images/pluie.svg" alt="pluie">
                    <p>6°C / 1°C</p>
                    <span>Vendredi 22 nov.</span>
                </li>
                <li>
                    <img src="~/Content/Images/neige.svg" alt="neige">
                    <p>3°C / -1°C</p>
                    <span>Samedi 23 nov.</span>
                </li>
                <li>
                    <img src="~/Content/Images/soleil.svg" alt="soleil">
                    <p>7°C / 3°C</p>
                    <span>Dimanche 24 nov.</span>
                </li>
            </ul>
        </article>
    </div>
</div>

    @*<script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('heure').innerHTML =
                h + ":" + m;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }
    </script>*@


