﻿@model IEnumerable<Admin_Interface.Models.User>

@{
    ViewBag.Title = "Users";
}

@{
    Layout = "~/Views/Shared/_LayoutSA.cshtml";
}
@using Admin_Interface.Tools;

<h3 class="toLeft">Gestion des utilisateurs</h3>

<div class="col-2-1 toLeft">

    <table id="saUsersList" class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pwd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleType)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="@string.Format("user_{0}", item.Id )">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pwd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleType)
                </td>
                <td>
                    @if (item.Id == UserSession.AuthUser.Id)
                    {
                        <span>/</span>
                    }
                    else
                    {
                        if (item.Active == true)
                        {
                            <a class="deactivate" href="@Url.Action("Deactivate","DashBoard", new { Id = item.Id })">Désactiver</a>
                        }
                        else
                        {
                            <a class="activate" href="@Url.Action("Activate","DashBoard", new { Id = item.Id })">Activer</a>
                        }
                    }
                </td>
                @*<td>
                    @Html.ActionLink("Modifier", "Modify", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                </td>*@
            </tr>
        }
    </table>
    @Html.ActionLink(
    "Ajouter un utilisateur",
    "CreateUser",
    "DashBoard",
    null,
    new { @class = "btn btn-primary", data_toggle = "modal", data_target = "#saCreateUserModal" }
    )
</div>



<div id="saCreateUserModal" class="modal fade hidden-print" tabindex="-1" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

