﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karma:100,400,500,700" rel="stylesheet">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @using Admin_Interface.Tools;
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Europe & Un", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ImageActionLink(
                        "/Content/Images/home.svg", // imageUrl
                        "Index", // actionName
                        "Dashboard", // controller
                        new { area = "" }, // routeValues
                        new { @class = "test" }, // htmlAttributes
                        null, // htmlAttributes
                        null, // htmlAttributes
                        "Accueil"
                        )
                    </li>
                    <li>
                        @Html.ImageActionLink(
                        "/Content/Images/carte.svg", // imageUrl
                        "Index", // actionName
                        "Dashboard", // controller
                        new { area = "" }, // routeValues, // routeValues
                        new { @class = "test" }, // htmlAttributes
                        null, // htmlAttributes
                        null, // htmlAttributes
                        "Carte"
                    )
                    </li>
                    <li>
                        @Html.ImageActionLink(
                        "/Content/Images/fiches.svg", // imageUrl
                        "Species", // actionName
                        "Dashboard", // controller
                        new { area = "" }, // routeValues, // routeValues
                        new { @class = "test" }, // htmlAttributes
                        null, // htmlAttributes
                        null, // htmlAttributes
                        "Espèces"
                    )
                    </li>
                    <li>
                        @Html.ImageActionLink(
                        "/Content/Images/eye.svg", // imageUrl
                        "Index", // actionName
                        "Dashboard", // controller
                        new { area = "" }, // routeValues, // routeValues
                        new { @class = "test" }, // htmlAttributes
                        null, // htmlAttributes
                        null, // htmlAttributes
                        "Observations"
                        )
                    </li>
                    <li>
                        @Html.ImageActionLink(
                        "/Content/Images/logout.svg", // imageUrl
                        "Logout", // actionName
                        "Login", // controller
                        new { area = "" }, // routeValues, // routeValues
                        new { @class = "test" }, // htmlAttributes
                        null, // htmlAttributes
                        null, // htmlAttributes
                        "Déconnexion"
                        )
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Environnement PlayTogne</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @RenderSection("scripts", required: false)
</body>
</html>

