﻿<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karma:100,400,500,700" rel="stylesheet">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @using Admin_Interface.Tools;
    <nav class="princ-nav">
        <ul class="">
            <li>
                @Html.ImageActionLink(
                "/Content/Images/home.svg", // imageUrl
                "Index", // actionName
                "Dashboard", // controller
                new { area = "" }, // routeValues
                new { @class = "test" }, // htmlAttributes
                null, // htmlAttributes
                null, // htmlAttributes
                "Accueil"
                )
            </li>
            <li>
                @Html.ImageActionLink(
                "/Content/Images/carte.svg", // imageUrl
                "Index", // actionName
                "Dashboard", // controller
                new { area = "" }, // routeValues, // routeValues
                new { @class = "test" }, // htmlAttributes
                null, // htmlAttributes
                null, // htmlAttributes
                "Carte"
            )
            </li>
            <li>
                @Html.ImageActionLink(
                "/Content/Images/fiches.svg", // imageUrl
                "Species", // actionName
                "Dashboard", // controller
                new { area = "" }, // routeValues, // routeValues
                new { @class = "test" }, // htmlAttributes
                null, // htmlAttributes
                null, // htmlAttributes
                "Espèces"
            )
            </li>
            <li>
                @Html.ImageActionLink(
                "/Content/Images/eye.svg", // imageUrl
                "Index", // actionName
                "Dashboard", // controller
                new { area = "" }, // routeValues, // routeValues
                new { @class = "test" }, // htmlAttributes
                null, // htmlAttributes
                null, // htmlAttributes
                "Observations"
                )
            </li>
            <li class="logout">
                @Html.ImageActionLink(
                "/Content/Images/logout.svg", // imageUrl
                "Logout", // actionName
                "Login", // controller
                new { area = "" }, // routeValues, // routeValues
                new { @class = "test" }, // htmlAttributes
                null, // htmlAttributes
                null, // htmlAttributes
                "Déconnexion"
                )
            </li>
        </ul>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Environnement PlayTogne</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @RenderSection("scripts", required: false)
</body>
</html>
