﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header class="head-prov">
        <img class="head-prov_img" src="~/Content/Images/MN_ICONS_SVG-24.svg" alt="logo province de Namur" width="150">
        <img class="head-prov_img" src="~/Content/Images/MN_ICONS_SVG-25.svg" alt="logo domaine de Chevetogne" width="150">

    </header>
    <img src="/Content/Images/MN_ICONS_SVG-26.svg" alt="Séparation" class="separation">
    <main id="choix-applis">
        <h1 class="ch-appli_h1">Domaine de <br>Chevetogne</h1>
        <p class="ch-appli_p">Gérer les applications</p>
        <div class="login-separateur"></div>
        <!-- bloc des quatre applications -->
        <div class="choix-appli">
            <a href="#">
                <div>
                    <img src="~/Content/Images/MN_ICONS_SVG-05.svg" alt="Logo train" width="150">
                </div>
            </a>
            <a href="@Url.Action("Index", "Login")">
                <div>
                    <img src="~/Content/Images/MN_ICONS_SVG-03.svg" alt="Logo environnement" width="150">
                </div>
            </a>
        </div>
        <div class="choix-appli">
            <a href="#"><div><img src="~/Content/Images/MN_ICONS_SVG-02.svg" alt="Logo piscine" width="150"></div></a>
            <a href="#"><div><img src="~/Content/Images/MN_ICONS_SVG-04.svg" alt="Logo parcours" width="150"></div></a>
        </div>
    </main>

    <aside class="login-aside">
        <a href="#"><img src="~/Content/Images/MN_ICONS_SVG-01.svg" alt="Logo réglages" width="80"></a>
    </aside>
</body>
</html>
