﻿@charset "UTF-8";
/* Variables */
@import url("https://fonts.googleapis.com/css?family=Karma:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600;700&display=swap");

body {
    padding-bottom: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
    max-width: 100vw;
}

    body.interface-mn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        background-color: #F1F1F1;
    }

.interface-nm-gen {
    margin-left: 116px;
    width: 100vw;
}

.en-tete {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 6vh;
}

.en-tete h1 {
    margin: 0;
    padding: 0;
    font-family: 'Karma', serif;
    font-size: 1.5em;
    font-weight: 400;
    padding: .3em;
    padding-left: 1em;
}

.en-tete div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-right: 1em;
}

.en-tete div img {
    border-radius: 50%;
}

.en-tete div p {
    opacity: 0.7;
    font-family: 'Roboto Slab', serif;
    margin-right: 0.3em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px; /* Franz*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    text-align: left;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#navMenu {
    list-style: none;
    padding: 0;
}

#navMenu li {
    display: inline-block;
    margin: 0;
    padding-right: 15px;
}

.latin-name {
    font-style: italic;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}

.navbar-inverse {
    background-color: #159300;
    border-color: #159300;
}

.nav > li > a > img {
    padding-right: 15px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.head-prov {
    width: 100%;
    height: 17%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.head-prov .head-prov_img {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: .5em;
}

.head-prov .separation {
    width: 100vh;
}

head-prov_img {
    float: right;
}

.princ-nav {
    position: fixed;
    background-color: #159300;
    width: 116px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.princ-nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.princ-nav ul li {
    padding: 1em 0 1em 0;
    justify-content: center;
    list-style-type: none;
    opacity: .6;
    transition: .3s ease-in;
    width: 100%;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.princ-nav ul li:hover {
    opacity: 1;
    background-color: #107400;
}

.en-tete h1 {
    margin-top: 0;
}

.princ-nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.logout {
    margin-top: auto;
}


/*Franz : general css*/
.container {
    margin-left:130px;
}

.toLeft, .interface-nm-gen footer {
    padding-left: 15px;
}

.marginToLeft {
    margin-left:15px;
}

.internNav {
    margin-bottom:20px;
}

.internNavItem {
    padding-right:15px;
}
    /*Franz : home -->  accueil-applis.html*/
    #choix-applis {
        min-height: 70vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

.ch-appli_h1 {
    font-family: 'Karma',serif;
    text-align: center;
    font-weight: 400;
    color: #405E11;
}

.ch-appli_p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 2.5em;
    color: #405E11;
    padding: 0;
    margin: .3em;
}

/*Franz : Login -->  login.html*/

.login-aside {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
}

.login-separateur {
    width: 12vw;
    height: 0.3vh;
    background-color: #405E11;
    margin: 0 auto;
    margin-bottom: 3vh;
}

.login-titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.login-titre p {
    font-family: 'Karma', serif;
    font-size: 5em;
    margin-left: .5vw;
}

.login-titre .login-titre_logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.login-connexion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.login-connexion form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 2vw;
}

.login-connexion form input {
    margin: 0.7vw;
}

.choix-appli {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.choix-appli a {
    min-width: 10vw;
    min-height: 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.choix-appli a div {
    width: 10vw;
    height: 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 4px 8px #919191;
    box-shadow: 0px 4px 8px #919191;
    border-radius: 10px;
    margin: 0.5vw;
}

.choix-appli a img {
    margin-right: .7vw;
    width: 50%;
}


.tableau {
    -webkit-box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.05);
    background-color: white;
    padding: 0;
    margin-top: 30px;
}

.tableau h1 {
    background-color: #159300;
    font-family: 'Roboto Slab', serif;
    padding: .3em;
    padding-left: 2%;
    font-weight: 400;
    font-size: 1em;
    color: white;
    margin: 0;
}

/* Franz */
.col-2-1 h3.tab-list {
    font-size: 12pt;
    margin-top: 5px;
}

.user-svg {
    height: 49px;
}

.col-2-1 {
    flex-wrap: wrap; /* Franz */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-pack: distribute;
    /*justify-content: space-around;*/
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 100%;
    padding: 0 15px;
    overflow: hidden;
}

    .col-2-1 h2 {
        font-size: 1.1em;
    }

    .col-2-1 h3 {
        font-size: 1em;
    }

    .col-2-1 p {
        font-size: .8em;
    }

.prem-col {
    width: 64%;
}

.prem-col .prem-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 1em;
}

.prem-col .prem-row h1 {
    font-family: 'Karma', serif;
    font-size: 36pt;
    font-weight: 600;
    margin: 0;
}

.prem-col .prem-row .searchbar {
    background-color: #DEDEDE;
    border-radius: 25px;
    width: 404px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 15px;
}

.prem-col .prem-row .searchbar form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.prem-col .prem-row .searchbar form button {
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.prem-col .prem-row .searchbar form button:active {
    outline: none;
}

.prem-col .prem-row .searchbar form input {
    background: none;
    border: none;
    padding-left: 10px;
    width: 100%;
    font-size: 14pt;
}

.prem-col .prem-row .searchbar form input:focus {
    border: none;
    background: none;
    outline: none;
}

.prem-col .sec-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.prem-col .sec-row div {
    width: 33%; /*Franz*/
    height: 222px;
    display: -webkit-box;
    display: -ms-flexbox;
    /*display: flex;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

            .prem-col .sec-row div a {
                font-family: 'Karma', serif;
                font-size: 36pt;
                font-weight: 600;
                text-decoration: none;
                color: black;
                padding-top: 75px;
                width: 100%;
                height: 100%;
                text-align: center;
            }

                .prem-col .sec-row div a h2 {
                    font-size: 22pt;
                }

                .prem-col .sec-row div a span {
                    font-weight: 500;
                    font-size: 24pt;
                }

                .prem-col .sec-row div a p {
                    margin: 0;
                    margin-top: -10px;
                    margin-bottom: 20px; /* Franz*/
                    font-weight: 600;
                    font-size: 16pt;
                }

                    .prem-col .sec-row div a p::after {
                        content: "•";
                        color: red;
                        vertical-align: super;
                    }

            .prem-col .sec-row div .notif-obs {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                padding-top: 0;
            }

                .prem-col .sec-row div .notif-obs div {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-box-align: start;
                    -ms-flex-align: start;
                    align-items: flex-start;
                }

    .prem-col .tri-row {
        width: 100%;
        height: 50vh;
        margin-top: 30px;
    }

        .prem-col .tri-row a {
            background-image: url("/img/map.svg");
            width: 100%;
            height: 100%;
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

.deux-col {
    width: 32%;
}

    .deux-col .ma-meteo h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 64pt;
        font-weight: 400;
        text-align: center;
        margin: 0;
        margin-top: 100px;
    }

    .deux-col .ma-meteo .today-meteo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: center;
        align-content: center;
        margin-top: 45px;
    }

        .deux-col .ma-meteo .today-meteo h2 {
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 24pt;
            font-weight: 500;
            margin: 0;
        }

        .deux-col .ma-meteo .today-meteo div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin: 0;
        }

            .deux-col .ma-meteo .today-meteo div h2 {
                padding-left: 1rem;
                font-size: 36pt;
                font-weight: 600;
                margin: 0;
            }

    .deux-col .ma-meteo .previsions {
        margin-top: 45px;
        padding: 0;
    }

        .deux-col .ma-meteo .previsions li {
            list-style: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            margin-top: 15px;
            padding: 0 26%;
        }

            .deux-col .ma-meteo .previsions li p {
                padding-left: 15px;
            }

            .deux-col .ma-meteo .previsions li span {
                padding: 10px 15px;
            }

.carte {
    background-image: url("/img/map.svg");
    height: 94vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.observations h1 {
    font-family: 'Karma', serif;
    font-size: 36pt;
}

.observations ul {
    padding: 0;
}

.observations ul li {
    list-style-type: none;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.observations ul li .obs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 30px;
}

.observations ul li .obs img {
    display: block;
    width: 95px;
    height: 75px;
    background-position: center;
    background-size: cover;
    margin: 0;
    border-radius: 3px;
}

.observations ul li .obs div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 15px;
}

.observations ul li .obs div p {
    font-size: 14pt;
    margin: 0;
}

    .observations ul li .obs div p em {
        font-weight: 600;
        font-style: normal;
    }

.observations ul li .obs div span {
    font-size: 14pt;
    font-weight: 500;
    color: #159300;
}

.observations ul li .obs_buttons {
    margin-right: 30px;
}

.observations ul li .obs_buttons a {
    margin-left: 30px;
    height: 100%;
}

.fiches_header a {
    text-decoration: none;
    color: #159300;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 30px;
    border: solid 2px #159300;
    font-weight: 500;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}

.fiches_header a:hover {
    background: #159300;
    color: #fff;
}

.fiches {
    padding-left: 30px;
}

.fiches .fiches_cat {
    margin-bottom: 45px;
}

.fiches .fiches_cat h2 {
    font-family: 'Karma', serif;
    font-size: 24pt;
    font-weight: 500;
    margin-bottom: 15px;
}

.fiches .fiches_cat ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
}

.fiches .fiches_cat ul li {
    list-style-type: none;
    margin-right: 30px;
    width: 250px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

.fiches .fiches_cat ul li a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #00000070;
}

.fiches .fiches_cat ul .mammifere {
    background-image: url("/img/mammifere.jpg");
}

.fiches .fiches_cat ul .reptile {
    background-image: url("/img/reptile.jpg");
}

.fiches .fiches_cat ul .batracien {
    background-image: url("/img/batracien.jpg");
}

.fiches .fiches_cat ul .oiseau {
    background-image: url("/img/oiseaux.jpg");
}

.fiches .fiches_cat ul .mollusque {
    background-image: url("/img/mollusque.jpg");
}

.fiches .fiches_cat ul .insecte {
    background-image: url("/img/insectes.jpg");
}

.fiches .fiches_cat ul .araignee {
    background-image: url("/img/arachnide.jpg");
}

.fiches .fiches_cat ul .vers {
    background-image: url("/img/vers.jpg");
}

.fiches .fiches_cat ul .comestible {
    background-image: url("/img/champ1.jpg");
}

.fiches .fiches_cat ul .toxique {
    background-image: url("/img/toxique.jpg");
}

.fiches .fiches_cat ul .hallu {
    background-image: url("/img/hallucinogene.jpg");
}

.fiches .fiches_cat ul .conifere {
    background-image: url("/img/conifere.jpg");
}

.fiches .fiches_cat ul .fougere {
    background-image: url("/img/fougere.jpg");
}

.fiches .fiches_cat ul .plante_fleur {
    background-image: url("/img/planteafleur.jpg");
}

.fiche_form {
    margin-bottom: 45px;
}

.fiche_form fieldset {
    border: none;
    overflow: hidden;
}

.fiche_form fieldset h2 {
    background: #159300;
    margin: 0;
    color: #fff;
    padding: 5px 30px;
}

.fiche_form fieldset div {
    padding: 15px 30px;
    float: left;
}

.fiche_form fieldset div label {
    padding-right: 10px;
}

.fiche_form fieldset div .name_espece {
    font-weight: 600;
    font-size: 14pt;
}

.fiche_form fieldset div select {
    width: 150px;
    height: 25px;
}

.fiche_form fieldset div input[type="text"] {
    width: 140px;
    height: 25px;
    border: none;
    background-color: #DEDEDE;
    border-radius: 5px;
    color: #159300;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10pt;
}

.fiche_form fieldset div option {
    width: 150px;
}

.fiche_form fieldset div textarea {
    width: 100%;
    height: 150px;
    border: none;
}

.fiche_form fieldset div input[type="file"] {
    width: 100%;
    height: 100%;
    color: #fff;
    display: none;
}

.fiche_form fieldset .add_file {
    border: dashed 2px #159300;
    width: 130px;
    height: 130px;
    clear: both;
    padding: 0;
    margin: 30px;
    cursor: pointer;
}

.fiche_form fieldset .add_file:before {
    content: url("/img/upload.svg");
    margin: 34px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 34px;
}

.fiche_form fieldset .disabled {
    display: none;
    /*appliquer cette classe aux select qui doivent être masqués*/
}

.form_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 120px;
}

.form_buttons button[type="submit"] {
    background-color: #fff;
    border: solid 2px #159300;
    width: 100%;
    height: 100px;
    color: #159300;
    padding: 0;
    font-family: 'Karma',serif;
    font-size: 18pt;
    font-weight: 600;
    margin-bottom: 30px;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}

.form_buttons button[type="submit"]:hover {
    background-color: #159300;
    color: #fff;
}

.form_buttons a {
    text-decoration: none;
    color: #eb5757;
    font-family: 'Karma', serif;
    font-size: 16pt;
    font-weight: 600;
    background-color: #fff;
    width: 250px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    border: solid 2px #eb5757;
    /*border-radius: 25px;*/
    margin-bottom: 30px;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}

.form_buttons a:hover {
    background-color: #eb5757;
    color: #fff;
}

.form_buttons button[type="reset"] {
    border: none;
    background: none;
    color: #707070;
    font-size: 16pt;
    font-family: 'Karma', serif;
    font-weight: 600;
}

.espece_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.espece_header a {
    text-decoration: none;
    color: #159300;
    font-size: 16pt;
    padding-bottom: 15px;
}

.espece_header a::before {
    content: url("/img/back.svg");
    padding-right: 15px;
    color: #159300;
}

.espece {
    margin-bottom: 10vh;
}

.espece section {
    border: none;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.espece section h2 {
    background: #159300;
    margin: 0;
    color: #fff;
    padding: 5px 30px;
    width: 100%;
}

.espece section div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 30px;
}

.espece section div h3 {
    padding-right: 10px;
}

.espece section div p {
    font-size: 1em;
}

.espece section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin: 0;
    padding: 15px;
}

.espece section ul li {
    list-style: none;
    width: 130px;
    height: auto;
    margin: 15px;
    padding: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.espece section ul li img {
    width: 100%;
    height: 130px;
}

.espece section ul li a {
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    color: #159300;
    font-weight: 500;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}

.espece section ul li a:hover {
    color: #000000;
    font-weight: 600;
}

.espece .description_espece {
    margin-bottom: 30px;
}

.espece_buttons {
    margin-top: 160px;
    text-transform: capitalize;
    height: 100px;
}

.espece_buttons .edit_espece {
    width: 100%;
    background-color: #fff;
    border: solid 2px #159300;
    color: #159300;
    height: 100%;
    font-size: 18pt;
    border-radius: 0;
    padding: 30px 0;
}

    .espece_buttons .edit_espece:hover {
        background-color: #159300;
    }

/*# sourceMappingURL=styles.css.map */