﻿@model Admin_Interface.Models.ViewModels.UserViews.LoginForm
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Page de connexion</title>
    @Styles.Render("~/Content/css")
</head>

<body>
    <header class="head-prov">
        <img class="head-prov_img" src="~/Content/Images/MN_ICONS_SVG-24.svg" alt="logo province de Namur" width="150">
        <img class="head-prov_img" src="~/Content/Images/MN_ICONS_SVG-25.svg" alt="logo domaine de Chevetogne" width="150">
    </header>
    <img src="/Content/Images/MN_ICONS_SVG-26.svg" alt="Séparation" class="separation">
    <main>
        <!-- Bloc de connexion -->
        <div class="login-titre">
            <!-- Bloc titre et retour avec logos des autres -->
            <div class="login-titre_logos">
                <img src="~/Content/Images/MN_ICONS_SVG-05.svg" alt="Logo train" width="20">
                <img src="~/Content/Images/MN_ICONS_SVG-02.svg" alt="Logo piscine" width="20">
                <img src="~/Content/Images/MN_ICONS_SVG-04.svg" alt="Logo parcours" width="20">
            </div>
            <div>
                <p>Domaine de Chevetogne</p>
            </div>
        </div>

        <div class="login-connexion">
            <!-- Bloc avec notre logo et connexion -->
            <div>
                <img src="~/Content/Images/MN_ICONS_SVG-03.svg" alt="Logo environnement" width="100">
            </div>
            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {
                //@Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", placeholder = "Login" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.Pwd, new { htmlAttributes = new { @class = "form-control", placeholder = "Mot de passe" } })
                @Html.ValidationMessageFor(model => model.Pwd, "", new { @class = "text-danger" })

                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Valider" class="btn btn-default" />
                </div>
            }
        </div>
    </main>
    <aside class="login-aside">
        <a href="#"><img src="/Content/Images/MN_ICONS_SVG-01.svg" alt="Logo réglages" width="80"></a>
    </aside>
</body>

</html>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")
