﻿@model Admin_Interface.Models.ViewModels.UserViews.LoginForm
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Page de connexion</title>
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
    <script src="script.js"></script>
</head>

<body>
    <header class="head-prov">
        <img class="head-prov_img" src="/Content/Images/MN_ICONS_SVG-24.svg" alt="logo province de Namur" width="150">
        <img class="head-prov_img" src="/Content/Images/MN_ICONS_SVG-25.svg" alt="logo domaine de Chevetogne" width="150">
    </header>
    <img src="/Content/Images/MN_ICONS_SVG-26.svg" alt="Séparation" class="separation">
    <main>
        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="login-titre">
                <!-- Bloc titre et retour avec logos des autres -->
                <div class="login-titre_logos">
                    <img src="/Content/Images/MN_ICONS_SVG-05.svg" alt="Logo train" width="20px">
                    <a href="accueil-applis.html"><img src="/Content/Images/MN_ICONS_SVG-02.svg" alt="Logo piscine" width="20px"></a>
                    <a href="accueil-applis.html"><img src="/Content/Images/MN_ICONS_SVG-04.svg" alt="Logo parcours" width="20px"></a>
                </div>
                <div>
                    <p>Domaine de Chevetogne</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Pwd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pwd, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pwd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Valider" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
    </main>
    <aside class="login-aside">
        <a href="#"><img src="/Content/Images/MN_ICONS_SVG-01.svg" alt="Logo réglages" width="80"></a>
    </aside>
</body>

</html>
